<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="STANDARD"
		gameType="PS4 - PS5 - STEAM"
		gamePrice="R$ 199,99"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="DELUXE"
		gameType="PS4 - PS5 - STEAM"
		gamePrice="R$ 299,99"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="STANDARD"
		gameType="PS4 - PS5 - STEAM"
		gamePrice="R$ 199,99"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="DELUXE"
		gameType="PS5 - STEAM"
		gamePrice="R$ 299,99"
	></app-card>
</div>
